#root {
  margin: 0 auto;
 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card img{
  max-width: 100px;
  margin: auto;
}

.read-the-docs {
  color: #888;
}

/** loader css*/

.loader-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/** total cart items*/
.cartWrapper{
  display: flex;
  grid-gap: 15px;
}

.totalCartItems__Wrapper{
  background-color: #FFF;
  color: #000223;
}

.cartWrapper .cart-container{
  width: 70%;
  max-width: 70%;
}

.cartWrapper .totalCartItems{
  background-color: #FFF;
  padding: 10px 0;
  border-radius: 4px;
}

/** category container listtem*/
.category__container_lists{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.category__container_lists .category__container_listItem{
  float: left;
  list-style-type: none;
}

/**button go to cart*/

.btn {
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.btn-category{
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Add to Cart button style */
.btn-add-to-cart {
  background-color: #28a745; /* Green color */
  color: white;
}

/* Go to Cart button style */
.btn-go-to-cart {
  background-color: #ffc107; /* Yellow color */
  color: black;
}

/*search wrapper*/
.search__Wrapper {
  width: 100%;
}

.search__Wrapper input[type=search]{
  width: 60%;
  padding: 6px;
  outline: none;
}

.category__product{
  background-color: #FFF;
  padding: 10px;
  border-radius: 4px;
}

/**products_filter_wrapper*/

.products_filter_wrapper{
  position: relative;
}

.container{
  max-width: 1400px;
}

.product_filters{
  background-color: #FFF;
}

.products_filter_block{
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
}

.productsWrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


.product_filters{
  min-width: 200px; 
  padding: 0 0 20px 20px;
}

.product_filters .price-filters,
.product_filters .rating-change,.product_filters  .brand-change{
  text-align: left;
}

.cartCard img{
  max-width: 60px;
}

/* navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: darkslategrey;
  padding: 5px 20px;
}

.productsWrapper{
  max-width: 1280px;
  margin: auto;
}

.navbar img{
  max-width: 50px;
}

.card a {
  color: #000223;
  text-decoration: none;
  margin-bottom: 10px;
}

/* product img*/

.product-img img{
  max-width: 400px;
}

/*authnetication-css*/

form{
  max-width: 400px;
  padding: 50px 0;
  margin: auto;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.continue-p{
  font-size: 12px;
    color: #b2b2b2;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}